<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edit Profs</title>
</head>

<body>
    <!------------------NAVBAR--------------------->
    <%- include('../views/partials/header.ejs'); %>
<!------------------content container--------------------->
<div id="menucontainer">
    <!------------------post container--------------------->

    <a href="/addProfPage" class="postcontain">

        <div class="post-head">
            <p>Add prof</p>
        </div>
    </a>
    <a href="/editSearch" class="postcontain">

        <div class="post-head">
            <p>Edit prof</p>
        </div>
    </a>
    <a href="/deleteProf" class="postcontain">

        <div class="post-head">
            <p>Delete prof</p>
        </div>
    </a>

    
</div>
   
</body>



</html>